body, html{
    margin: 10px auto;
    padding: 0;
    font-family: 'Zilla Slab', serif;
    max-width: 920px;
    background-color:#e5e5e5; 
}

#title{
    border:1px #1e2438 solid;    
    background-color:#1e2438;
    color: #fff;
    margin-bottom: 20px;   
}

.intro{
    padding: 5px 30px;
    color: #1e2438;
    font-size: 16px;
    font-family: 'Kreon', serif;
    margin: 20px, 0;
    background-color: white; 
}

h1{
    font-size: 34px;
    margin-left: 30px
}

h2{
    padding-top: 20px;  
}

section h3{
    color: #1e2438;
}

article{
    background-color: white;
    margin-top: 15px;
}

section {
    padding: 0 30px;
}

section p{
     padding: 0 10px;
     margin-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    width: 600px;
}

figcaption{
    font-size: 14px;
    text-align: right;
    margin-right: 90px;
    padding-top:2px;
}

footer{
    background-color:#1e2438;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

