body, html{
    margin: 10px auto;
    padding: 0;
    font-family: 'Zilla Slab', serif;
    max-width: 920px;
    background-color:#e5e5e5; 
}

/* header {
    background-color:#1C2130;
    color: #fff;
} */

#title{
    border:1px #1C2130 solid;    
    /* margin: 0px 30px; */
    background-color:#1C2130;
    color: #fff;
    margin-bottom: 20px;   
}

.intro{
    padding: 5px 30px;
    /* margin-top: 10px; */
    color: #1C2130;
    font-size: 16px;
    font-family: 'Kreon', serif;
    margin: 20px, 0;
    background-color: white; 
}


/* .tab{
    background-color:#1C2130;
    width: 25%;
    color: #fff;  
} */

h1{
    font-size: 34px;
    margin-left: 30px
}

h2{
    padding-top: 20px;  
}

section h3{
    color: #1C2130;
}

article{
    background-color: white;
    margin-top: 15px;
}

section {
    padding: 0 30px;
}

section p{
     padding: 0 10px;
     margin-bottom: 20px;
     /* text-justify: left; */
}

img {
    display: block;
    margin: auto;
    width: 600px;
}

figcaption{
    font-size: 14px;
    text-align: right;
    margin-right: 90px;
    padding-top:2px;
}

footer{
    background-color:#1C2130;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

